
body,html {
    margin: 0;
}

.canvas-chart {
    width: 100%;
}

.toggleModeButton {
    padding: 0;
    border: none;
    font: inherit;
    background-color: transparent;
    cursor: pointer;
    outline: none;

    margin: 2em auto;
    color: rgb(54,168,241);
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif
}

.toggleModeButton:focus {
    background: none;
}

.canvasHead {
    font-family: Arial, Helvetica, sans-serif
}

.wrapper {
    margin: 0 8px;
    width: calc(100% - 16px);
    overflow: hidden;
    flex-wrap: wrap;
    display: flex;
}